<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManaget/etc/config.xsd">
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="beforeAddCart" type="Magic\Product\Plugin\AddCartPlugin" sortOrder="10"/>
    </type>
</config>
